@import 'tailwindcss';

  
@theme {
  /* Custom Breakpoints */
  --breakpoint-xs: 450px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  
  /* Custom font family */
  --font-family-sf-pro-display: "SF Pro Display", sans-serif;

  /* Custom Colors */
  --color-primary: #345E40;
  --color-second: #97A483;
  --color-second-light: #EDEEF7;
  --color-third: #F7F2DB;
  --color-dark: #2E2e2e;
  --color-white: #FFFFFF;
 }

body {
  color: var(--color-dark);
  background: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing:0.04em;
}
